<!DOCTYPE html>
<html>
    <head>
        <title>MLI</title>
        <link rel="stylesheet" href="./css/droutput.css">
    </head>
    <body>
        <div class="container">
            <div>the output is</div>
            <p id="value"> <%= output %></p>
        </div>
        <script src="./javascript/loading.js"></script>
    </body>
</html>